pypdf
faiss-cpu
streamlit
numpy
langchain
langchain-community
langchain-huggingface
huggingface_hub
#python-dotenv
#sentence-transformers
#mistralai
#bitsandbytes
#accelerate
#faiss-gpu
#torch
#transformers
#openpyxl