streamlit
langchain
cohere 
llama_index 
llama-index-llms-cohere 
llama-index-embeddings-cohere
#langchain-community
#numpy
#pypdf
#faiss-cpu
#langchain-huggingface
#huggingface_hub
#python-dotenv
#sentence-transformers
#mistralai
#bitsandbytes
#accelerate
#faiss-gpu
#torch
#transformers
#openpyxl